# Byte-compiled / optimized
__pycache__/
*.py[cod]
*$py.class

# Virtual env
venv/
env/
.venv/

# Distribution / build
build/
dist/
*.egg-info/
*.spec

# PyInstaller
*.manifest
*.log

# macOS
.DS_Store

# IDEs
.vscode/
.idea/

# Others
*.pyc